@media screen {
    .flickity-button{
        background:lightgray;
        color:#6D8BB0;
    }
    .flickity-button:hover{
        background:rgb(184, 184, 184);
    }
    .flickity-prev-next-button {
        width: 20px;
        height: 25px;
      }
    .carousel-cell {
        padding-bottom: 30px;
        padding-left: 20px;
        width: 80%;

    }

    /* cell number */
    .carousel-cell:before {
        display: block;
    }

    /* position dots in carousel */
    .flickity-page-dots {
        top: 90%;
        height: 30px;
    }
    /* white circles */
    .flickity-page-dots .dot {
        opacity: 1;
        background: transparent;
        border: 2px solid white;
    
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
        background: white;
    }
    }