div.text-index {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40rem
}

div.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

div.row::after {
    width: 33.33%;
    content: "";
    clear: both;
    display: table;
} 