div.text-index {
    margin-left: auto;
    margin-right: auto;
    width: 6rem
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} 