div.title-button {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.title-button a.createproduct {
    color: black;
    margin-left: 1rem;
}

div.createproductbox {
    background-color: rgb(72, 185, 72);
}