.h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.title-button a.createproduct {
    color: black;
    margin-left: 1rem;
}

div.createproductbox {
    display: flex;
    float: right;
    padding-top: 1rem;
    background-color: rgb(72, 185, 72);
    height: 1%;
    border-radius:0.5em;
}