h{
    color: #4F6D92;
    font-family: 'Franklin Gothic';
    font-size: 20px;
}
.compte_info{
    display:grid;
    height: fit-content;
    grid-template-columns: 60% 40%;
    grid-gap: 5px;
    margin : 5px;
    border: 2px solid #4F6D92;
    background-color:#6d8bb05e;
    border-radius: 5px;
}

.info_compte{
    border-right: 4px solid #4F6D92;
    grid-template-rows:20%,60%,20%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.nom{
    border: 2px solid #4F6D92;
    margin : 5px;
    padding: 5px;
    border-radius: 5px;
}
.prenom{
    border: 2px solid #4F6D92;
    margin : 5px;
    padding: 5px;
    border-radius: 5px;
}
.mail{
    border: 2px solid #4F6D92;
    margin : 5px;
    padding: 5px;
    border-radius: 5px;
}
.mdp{
    border: 2px solid #4F6D92;
    margin : 5px;
    padding: 5px;
    border-radius: 5px;
}
.adresses{
    margin: 5px;
    display : grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 3px;
}
.methode_paiement{
    grid-template-columns: 20% 80%;
    margin: 5px;
    display: grid;
}
select{
    font-family: 'Franklin Gothic';
    font-size: 17px;
    border-radius: 5px;
    height: 30px;
    border-color: #4F6D92;
    background-color: #6D8BB0;
    color:white;
}
.info_commandes{
    display: grid;
    width: 100%;
    align-content: center;
}
.commandes{
    display: grid;
    justify-content: center;
}
.deconnexion{
    display: grid;
    justify-content: center;
}
.button{
    font-family: 'Dancing Script';
    font-size: 30px;
    border-color: #4F6D92;
    color: white;
    background-color: #6D8BB0;
    margin: 5px;
    height: 100px;
    width: 300px;
}
.button:hover{
    background-color: #4F6D92;
}
select:focus{
    outline: none;
}