div.text-index {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40rem  
}

div.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

div.row::after {
    content: "";
    clear: both;
    display: table;
}

div.row div.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

div.row div.column:last-child {
    float: left;
    width: 33.33%;
    padding-left: 0;
}

div.text-index {
    padding-bottom: 2rem;
}

/* cell number */
.carousel-cell:before {
    display: block;
}

/* position dots in carousel */
/*.flickity-page-dots {
    top: 90%;
    height: 30px;
}
/* white circles */
.flickity-page-dots .dot {
    opacity: 1;
    background: transparent;
    border: 2px solid white;

}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

img.w3-image {
    width: 100%;
}

