/* cell number */
.carousel-cell:before {
    display: block;
}

/* position dots in carousel */
/*.flickity-page-dots {
    top: 90%;
    height: 30px;
}
/* white circles */
.flickity-page-dots .dot {
    opacity: 1;
    background: transparent;
    border: 2px solid white;

}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

img.w3-image {
    width: 100%;
}

.articlecarousel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.text-wrapper {
    display: inline-block;
}


div.text-index {
    text-align: center;
    margin-bottom: 2rem;
}

div.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
}

div.category-grid .column {
    width: 100%;
    max-width: 20rem;
}

div.image-wrapper {
    position: relative;
    text-align: center;
    border: 0.2em solid #4F6D92;
    border-radius: 0.5em;
    padding: 1rem;
}

div.image-wrapper .img_category {
    width: 100%;
}

div.image-text {
    background-color: #6d8bb0b7;
    border: 0.2em solid #4F6D92;
    border-radius: 0.5em;
    padding: 10px;
    margin-top: 1rem;
    color: white;
}

div.column {
    padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
    div.category-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
