aside{
    width: 15%;
    float: left;
    margin:1em;
}
.aside_category{
    background-color: #6d8bb05e;
    border: 0.2em solid #4F6D92;
    border-radius: 1em;
    text-align: center;
}
.aside_category select{
  border: 0.2em solid #4F6D92;
  background-color: #6d8bb05e;
  margin-bottom:0.5em;
  border-radius:0.5em;
}
.aside_category_form{
    display:flex;
    flex-direction:column;
    margin:0.5em;
}
.aside_category_form label{
  margin-bottom:0.5em;
}

.aside_category_form button{
  border: 0.2em solid #4F6D92;
  background-color: #6d8bb05e;
  border-radius:0.5em;
}
.aside_category_form button:hover{
  background-color: #4F6D92;
}
.material_div,
.category_div{
  display:flex;
  flex-direction:column;
  border: 0.2em solid #4F6D92;
  margin-bottom:0.5em;
  border-radius:0.5em;
  padding:0.2em;
}
.price_div input{
    border: 0.2em solid #4F6D92;
    background-color: #6d8bb05e;
    border-radius:0.5em;
    margin-bottom:0.5em;
    justify-self: end; /* Ajout de cette ligne */
  }
  .price_div label{
    justify-self: start;
  }
  .price_div{
    display: grid;
    grid-template-columns:50% 50%;
    justify-items:end;
  }
.form_list_prod{
	float: right;
    width:80%;
    margin:1em;
    overflow: visible;
}
.button_liste{
	display:flex;
	background-color: #6d8bb05e;
    border: 0.2em solid #4F6D92;
    border-radius:1em;
    flex-direction:row;
    align-items: center;
    width:80%;
}

.info_produit{
    position:relative;
    display: grid;
    grid-template-rows: 20% 15% 65%;
    align-items:center;
    width: 80%;
    text-align: start;
    border-right:0.1em solid #4F6D92;
    margin-top: 0.5em;
    margin-left: 0.2em;
}
.quantite_prix{
	display:grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    text-align: center;
}
h4{
    font-weight: bold;
}
.img_produit{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}