aside{
    width: 15%;
    float: left;
}
.aside_category{
    background-color: #6d8bb05e;
    border-color: 1px solid #4F6D92;
    border-radius: 5px;
}

.form_list_prod{
    border:1% solid #4F6D92;
    background-color: #6d8bb05e;
    margin:2%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 2%;
}
.list_prod{
    display: flex;
    flex-direction: row;
    border:1px solid #4F6D92;
    margin:2%;
    padding:1%;
    justify-content: center;
    grid-row-gap: 2% ;
}

.info_produit{
    display: grid;
    grid-template-rows: 10% 10% 80%;
    width: 80%;
    text-align: left;
    border-left: 0.5% solid #4F6D92;
}

