aside{
    width: 15%;
    float: left;
    margin:1em;
}
.aside_category{
    background-color: #6d8bb05e;
    border: 0.2em solid #4F6D92;
    border-radius: 1em;
}
.form_list_prod{
	float: right;
    width:80%;
    margin:1em;
}
.button_liste{
	display:flex;
	background-color: #6d8bb05e;
    border: 0.2em solid #4F6D92;
    border-radius:1em;
    flex-direction:row;
    align-items: center;
    width:80%;
}

.info_produit{
    display: grid;
    grid-template-rows: 17% 10% 73%;
    align-items:center;
    width: 80%;
    text-align: start;
    border-right:0.1em solid #4F6D92;
    margin:1em;
    
}
.quantite_prix{
	display:grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    text-align: center;
}
h4{
    font-weight: bold;
}
.img_produit{
    border-radius: 0.5em;
}