html,
body {
  height: 100%;
}

.h3{
  font-family: 'Dancing Script';
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
  display:block;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="mail"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.formulaire{
  align-items: center;
}

a.forgot-pwd {
  color: black;
  text-align: center;
}

a.forgot-pwd:link{
  text-decoration: underline;
}
a.forgot-pwd:visited{
  text-decoration: none;
}