.panier{
    display:flex;
    justify-content: center;
    min-height: 100vh;
    vertical-align: top;
    margin-top: 3%;
}

.panier section{
    background-color: #6d8bb05e;
    width: 70%;
    border: 2px solid #4F6D92;
    border-radius: 5px;
}

.panier table{
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}

.panier tr{
    border-bottom: 0.5px solid #4F6D92;
}

.panier th{
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
    text-decoration: solid;
}

.panier td{
    border-top: 0.5px solid #4F6D92;
    text-align: center;
}

